{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<!-- BG TEST REMOVE BG TEST REMOVE BG TEST REMOVE BG TEST REMOVE BG TEST REMOVE 
<div class="default-promo-image">
    <div class="default-promo-image-inside">
        <div class="image-container">
            <div class="fld fld-n-fld-prz-pro-img fld-type-image fld-label-hiddn">
                <div class="field-items">
                    <div class="field-item even">
                        <img class="img-responsive" typeof="foaf:Image" src="/media/bg21-books.png" width="" height="400" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div class="text-overlays-container">
            <div class="text-overlay">
                <div class="text">
                    <h1 class="title">Words for breakfast</h1>
                    <div class="fld fld-n-fld-prz-subt-int fld-typ-txt fld-lb-hn">
                        <div class="field-items">
                            <div class="field-item even">Read the latest intellectual developments - from the writers themselves
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->
    <div class="container-fluid">
        <div class="row home-band">
            <div class="col-md-6 home-image order-last">
                <img class="img-fluid home-image-size" src="/media/bg21-books.png" alt="Five new books">
                <!-- <hr class="h-10 orange-band mb-1"> -->
            </div>
            <div class="col-md-6 order-first">
                <table class="home-table">
                    <tbody>
                        <tr>
                            <td class="align-middle display-4 logo-font text-white home-text">
                                Words for breakfast</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row orange-band">
            <div class="col orange-band">
            </div>
        </div>
    </div>
{% endblock %}

<!--
                <div class="my-5">
                    <h4>
                        <a href="" class="join-button btn btn-lg rounded-0 text-uppercase py-3">Shop Now</a>
                    </h4>
                </div>
-->