{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row home-band">
            <div class="col-6">
                <table class="home-table">
                    <tbody>
                        <tr>
                            <td class="align-middle display-4 logo-font text-white home-text">Words for breakfast</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-6 home-image">
                <img class="img-fluid home-image-size" src="/media/bg21-books.png" alt="Five new books">
                <hr class="h-10 orange-band mb-1">
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row orange-band">
            <div class="col orange-band"></div>
        </div>
    </div>
{% endblock %}


<!--
                <div class="my-5">
                    <h4>
                        <a href="" class="join-button btn btn-lg rounded-0 text-uppercase py-3">Shop Now</a>
                    </h4>
                </div>
-->