{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row home-band">
            <div class="home-image">
                <img class="img-fluid" src="/media/bg21-books.png" alt="Five new books"> width="1600" height="400" alt="">
            </div>
        </div>
        <div class="text-overlays-container">
            <div class="text-overlay text ">
                <h1 class="display-4 logo-font text-white">Words for breakfast</h1>
            </div>
            <div class="row orange-band">
            </div>
        </div>
    </div>
{% endblock %}

<!--
                <div class="my-5">
                    <h4>
                        <a href="" class="join-button btn btn-lg rounded-0 text-uppercase py-3">Shop Now</a>
                    </h4>
                </div>
-->