/*
.home-band
.join-button 
.display-4
.container [index.html - boutique ado for the header; Bootstrap https://getbootstrap.com/docs/5.1/components/navbar/#containers ]
.header-container [index.html - boutique ado for the header]
#menu-hover [for navbar - taken from Jay]
*/


/* ----- 1     FONTS ----- */
/* ----- 1.1   Fonts general ----- */
/* Google Fonts. CSS rules to specify families:
font-family: 'Kreon', serif;
font-family: 'Open Sans', sans-serif; */

.logo-font{
    font-family: 'Kreon', serif;
    color: white;
    font-weight: 700;
}

/* from Bulma https://bulma.io/, as suggested in Boutique Ado project */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.nav-text{
    text-transform: uppercase;
    font-family: 'Kreon', serif;
    color: black;
    font-size: 15px;
}

.nav-item{
    text-transform: uppercase;
    font-family: 'Kreon', serif;
    color: black;
    font-size: 15px;
}

.nav-colours{
    text-transform: uppercase;
    text-decoration: none;
    font-family: 'Kreon', serif;
    color: #af2937;
    font-size: 15px;
    border: 0px;
    background-color: white;
}

.book-title-text{
    font-family: 'Open Sans', sans-serif;
    color: black;
    font-size: 20px;
}

.author-name-text{
    font-family: 'Open Sans', sans-serif;
    color: black;
    font-size: 18px;   
}

/* .heading-font {
    color: #43257F;
    font-family: 'Work Sans', sans-serif;
    font-size: 20px;
    text-transform: uppercase;
    }
*/

/* ----- 1.2   Fonts header ----- */
/*
.logo-text {
    font-family: 'Work Sans', sans-serif;
    color: black;
    font-weight: 900;
    text-transform: uppercase;
}
*/
/* ----- 1.6   ??PAGE / APP ----- */

/* ----- 2     LAYOUT ----- */
/* ----- 2.1   Layout general ----- */

.home-band{
    background-color: black;
    height: 410px;
    width: 100%;
    position: absolute;
    }

.home-image{
    margin: 0;
    height: 410px;
    background-color: black;
}

.home-image-size{
    margin: 0;
    height: 410px;
}

.home-text{
    margin: 0;
    height: 410px;
    background-color: black;
}

.intro-text{
    background-color: black;
}

.orange-band{
    background-color: #D37430;
    height: 20px;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    }

.hr-orange {
    height: 20px;
    margin-top: 0;
    margin-bottom: 0;
    border: 0;
    border-top: 10px solid #D37430;
    }

.nav-button{
    border-color: none;
}

.subscribe-position{
    margin-left: 20px;
}

.books-format{
    padding-top: 50px;
}

.basket-format{
    padding-top: 50px;
}

.btn-outline-black {
    background: white;
    color: black !important;
    border: 1px solid black;
}

.btt-link,
.update-link,
.remove-item {
    cursor: pointer;
}

/* ----- 2.1   Layout - Bootstrap toasts ----- */
.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 99999999999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}

/* Following the Boutique Ado walkthrough, from CSS-tricks.com: https://css-tricks.com/snippets/css/css-triangle/ */
.arrow-up {
    width: 0; 
    height: 0; 
    border-left: 4px solid transparent;
    border-right: 4px solid transparent; 
    border-bottom: 10px solid black;
    position: absolute;
    top: -10px;
    right: 36px;
}

/* Convenience classes - colors copied from Bootstrap, via Boutique Ado walkthrough */
.arrow-primary {
    border-bottom-color: #007bff !important;
}

.arrow-secondary {
    border-bottom-color: #6c757d !important;
}

.arrow-success {
    border-bottom-color: #28a745 !important;
}

.arrow-danger {
    border-bottom-color: #dc3545 !important;
}

.arrow-warning {
    border-bottom-color: #ffc107 !important;
}

.arrow-info {
    border-bottom-color: #17a2b8 !important;
}

.arrow-light {
    border-bottom-color: #f8f9fa !important;
}

.arrow-dark {
    border-bottom-color: #343a40 !important;
}

/* Vertical overflow will turn into a scrollbar when the height >100px. */
.basket-notification-wrapper {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}

/*
.image-container {
    padding-top: 137px;
}

.container-white {
    background-color: white;
    margin-top: 0;
    margin-bottom: 0;
}
*/
/* ----- 2.2   Layout header ----- */
/* 
.text-responsive {
    font-size: calc(100% + 1vw + 1vh);
  }
*/

/* Hide the X-close when the menu burger is shown
/*
.navbar-toggler.collapsed .close-icon {
    display: none;
}

.navbar-toggler:not(.collapsed) .navbar-toggler-icon {
    display: inline;
}
*/

/* ----- 2.3   Layout footer ----- */
/*
.fa-icon {
    width: 35px;
    height: 35px;
    padding: 20px 0;
    border-radius: 50%;
    font-size: 25px;
    line-height: 15px;
    text-align: center;
    color: #000000;
}

footer {
    color: #000000;
    height: 0px;
    margin: 0;
}

.footer-color {
    background-color: #677473;
}

.social-links {
    padding-bottom: 15px;
    text-align: center;
}
*/
/* ----- 2.4   Layout index ----- */
/*
.col-md-auto {
    padding: 0;
}
*/

/* ----- 2.6   ?? PAGE / APP ----- */
/* ----- 2.6.1 ?? PAGE / APP layout ----- */
/* ----- 2.6.2 ?? PAGE / APP buttons ----- */
/*
.btn-q {
    color: #000000;
    background-color: #ecdfeb;
    background-repeat: no-repeat;
    background-size: cover;
    border: none;
    text-align: left;
    border-radius: 4px;
    min-width: 475px;
    max-width: 475px;
    margin-bottom: 10px;
}

.btn-q:hover{
    color: #a3a0a0;
    background-color: #3a0949;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
}
*/

/* ----- 2.7   Layout contact ----- */
/*
#container-form {
    padding-top: 20px;
}

#form-layout {
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: left;
}

.form-btn {
    margin: 0 auto;
    text-align: center;
    background-color: #677473; 
}

#quizSubmit:hover{
    color: #a3a0a0;
    background-color: #3a0949;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
}

.submit-btn {
    background-color: white;
    color: #43257F;
    font-family: 'Work Sans', sans-serif;
    font-size: 24px;
    font-weight: 900;
    text-transform: uppercase; 
}

#after_submit {
    visibility: hidden;
    padding: 25px;
    margin: 15px;
    border-color: #ecdfeb;
    background-color: #ecdfeb;
    font-family: 'Work Sans', sans-serif;
    color: #43257F;
    font-size: 24px;
    font-weight: 700;
}

.like-quiz-submit {
    padding: 10px;
    margin: 10px;
    border-color: #ecdfeb;
    background-color: #ecdfeb;
    font-family: 'Work Sans', sans-serif;
    text-align: left;
}
*/
/*
.modal {
    z-index: 0;
}
*/
/* ----- 3	   IMAGES ----- */
/* ----- 3.1  Images quiz  ----- */

/* ----- 4	MEDIA QUERIES ----- */
@media (min-width: 992px){
    .default-promo-image .text-overlays-container {
        position: absolute;
    }
}

@media (min-width: 768px){
    .paragraphs-item--page-promo-banner .text-overlay, .default-promo-image .text-overlay {
        left: 12%;
        padding: 0.75em;
    }
}

@media (max-width: 991px) {
    .header-container {
        padding-top: 116px;
    }
    body {
        height: calc(100vh - 116px);
    }
}


/* ----- Bootstrap 4 breakpoints ----- */

/* ----- Small devices (landscape phones, 544px and up)
@media (min-width: 360px) {  
    .logo-header {font-size:1.5rem;}
  }

@media (min-width: 576px) {  
  .logo-header {font-size:1.5rem;}
} 
  */
/* Medium devices (tablets, 768px and up)
@media (min-width: 768px) {  
    .logo-header {font-size:2.5rem;}
}
  */
/* Large devices (desktops, 992px and up)
@media (min-width: 992px) { 
    .logo-header {font-size:3rem;}
}
  */
/* Extra large devices (large desktops, 1200px and up) 
@media (min-width: 1200px) {  
    .logo-header {font-size:4rem;}    
}
 */
/* ----- Custom media queries ----- */
 
/* Set width to make card deck cards 100% width
@media (min-width: 950px) and (max-width:1100px) { 
  .logo-header {font-size:3rem;} 
}  */