<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto nav-text">
        <li class="nav-item dropdown">
            <a class="logo-font nav-link text-black mr-5" href="#" id="about-link" 
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">About
            </a>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="membership-link" 
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Membership
            </a>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="authors-link" 
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Authors
            </a>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black" href="{% url 'books' %}" id="books-link" 
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Books
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-books-link">
                <a href="" class="dropdown-item">Arts, fashion, culture</a>
                <a href="" class="dropdown-item">Biography</a>
                <a href="" class="dropdown-item">Cookery</a>
                <a href="" class="dropdown-item">History </a>
                <a href="" class="dropdown-item">Politics and society</a>
                <a href="" class="dropdown-item">Science and nature</a>
                <a href="" class="dropdown-item">Sex and gender</a>
                <a href="" class="dropdown-item">New releases </a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black" href="#" id="blog-link" 
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Blog
            </a>
        </li>
    </ul>
</div>